body {
  background-image: url("/Imagens/fundo-dengue-2025.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
  border-collapse: collapse;
}

.menutop {
  border-collapse: collapse;
  box-shadow: black 1px 2px 10px;
  position: fixed;
  background-color: green;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  text-align: center;
  display: inline;
  align-content: center;
  opacity: 80%;
  z-index: 1;
}

.textmenu {
  display: inline;
  margin: 20px;
  text-decoration: none;
  color: aliceblue;
  text-shadow: black 1px 1px 1px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.text1 {
  font-size: 30px;
  position: relative;
  text-align: center;
  display: flexbox;
  margin-top: 5%;
  color: aliceblue;
  text-shadow: black 1px 1px 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.imgs {
  display: flexbox;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

img {
  justify-self: center;
  margin: 1px;
  position: relative;
  height: 400px;
  cursor: default;
  box-shadow: #00000090 5px 5px 5px;
  z-index: -1;
}

@media (min-width: 1500px) {
  .imgs {
    display: flexbox;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  img {
    justify-self: center;
    margin: 1px;
    position: relative;
    height: 400px;
    cursor: default;
    z-index: -1;
  }
}

@media (max-width: 1500px) {
  .imgs {
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  
  .text1 {
    font-size: 25px;
  }
}

@media (max-width: 1000px) {
  .text1 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .imgs {
    display: grid;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  
  img {
    height: 300px;
  }

  .text1 {
    font-size: 15px;
  }
}